@using MeetMe.Web.Models.Profile
@model ProfileViewModel

@section styles {
    <link href="~/Content/profile.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/publication.css" rel="stylesheet" />
}

<div class="mainbody container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="@Model.ProfileImageUrl" width="200px" height="200px">
                            @if (Model.AspIdentityUserId == User.Identity.GetUserId())
                            {
                                <p class="text-center small">
                                    <input type="file" id="profile-image-change" name="profileImage" />
                                    <span id="label-change-picture" data-id="@Model.PersonalInfo.Id">Change Photo</span>
                                </p>
                            }
                            <span><strong>@Model.FullName</strong></span>
                        </div>
                        <div class="media-body">
                            <hr />
                            <h3>
                                <strong>Age</strong>
                            </h3>
                            <p>
                                @if (Model.PersonalInfo.Age != 0)
                                {
                                    @Model.PersonalInfo.Age
                                }
                            </p>
                            <hr />
                            <h3>
                                <strong><i class="fa fa-map-marker"></i> Location</strong>
                            </h3>
                            <p>@Model.PersonalInfo.City</p>
                            <hr />
                            <h3>
                                <strong><i class="fa fa-graduation-cap"></i> Education</strong>
                            </h3>
                            <p>@Model.PersonalInfo.School</p>
                            <hr />
                            <h3>
                                <strong><i class="fa fa-briefcase"></i> Work</strong>
                            </h3>
                            <p>@Model.PersonalInfo.Company</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-9 col-xs-9 col-md-offset-1">
            <div data-spy="scroll" class="tabbable-panel">
                <div class="tabbable-line">
                    <ul class="nav nav-tabs ">
                        <li class="active">
                            <a href="#tab_default_1" data-toggle="tab">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_2" data-toggle="tab">
                                Personal Information
                            </a>
                        </li>
                        <li>
                            <a href="#tab_default_3" data-toggle="tab">
                                Friends
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_default_1">
                            @if (Model.AspIdentityUserId == User.Identity.GetUserId())
                            {
                                <div class="well user-create-post">
                                    @using (Ajax.BeginForm("AddPersonalPublication", "Publication", null, new AjaxOptions()
                                    {
                                        UpdateTargetId = "publications",
                                        InsertionMode = InsertionMode.Replace,
                                        HttpMethod = "POST",
                                        OnSuccess = "ajaxSuccess"
                                    }, new { @class = "form-horizontal" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <div>
                                            <h4>What's New</h4>
                                            <div class="form-group" style="padding:14px;">
                                                <textarea id="publication-content" class="form-control" name="content" placeholder="Update your status"></textarea>
                                            </div>
                                            <input type="hidden" name="userId" id="user-id" value="@User.Identity.GetUserId()" />
                                            <input type="hidden" id="image-base" name="imageBase64" />
                                            <input type="hidden" name="skip" value="0" />
                                            <input type="hidden" name="count" value="20" />
                                            <button class="btn btn-primary pull-right" type="submit">Post</button>
                                            <input id="user-publication-picture" title="Add publication image" type="file" name="file" />
                                            <ul class="list-inline">
                                                <li>
                                                    <span>
                                                        <i class="glyphicon glyphicon-camera"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <div>
                                            <div id="add-publication-content"></div>
                                        </div>
                                    }
                                </div>
                            }
                            <div id="publications" class="user-publications">
                                @Html.Action("UserPublications", "Publication", new { id = Model.AspIdentityUserId, skip = 0, count = 20 })
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_default_2">
                            <div class="well form-horizontal">
                                <button id="btn-edit" class="btn btn-default fa-pull-right">Edit</button>
                                @Html.Partial("_ProfilePersonalInfoPartial", Model.PersonalInfo)
                            </div>
                        </div>
                        <div class="tab-pane" id="tab_default_3">
                            <ul class="search-list" id="all-results">
                                @Html.Partial("_ProfileFriendsPartial", Model.Friends)
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/profile.js")
}