@using Kendo.Mvc.UI
@using MeetMe.Web.Models.Admin
@model IEnumerable<DashboardViewModel>

@Styles.Render("~/Content/kendo")
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/admin.css")

<div id="admin-panel">
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(c => c.FullName).Width(15);
            columns.Bound(c => c.AspIdentityUserId).HeaderTemplate("User ban").Template(
                @<span>
                    @if (item.IsBanned)
                    {
                        <input type='button' class='btn btn-success unban-user'
                               data-id="@item.AspIdentityUserId" value='Unban user' />
                    }
                    else
                    {
                        <input type='button' class='btn btn-danger ban-user'
                               data-id="@item.AspIdentityUserId" value='Ban user' />
                    }
                </span>).Width(15);
        })
        .Scrollable()
        .Sortable()
        .Pageable(pageable => pageable
            .Refresh(true))
        .DataSource(dataSource => dataSource
            .Ajax()
            .PageSize(10)
        ).Deferred(true)
    )
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/kendo")
@Scripts.Render("~/bundles/toastr")
@Scripts.Render("~/Scripts/requester.js")
@Scripts.Render("~/Scripts/admin.js")
