@using MeetMe.Web.Models.Search
@model SearchViewModel

@section styles {
    <link href="~/Content/search.css" rel="stylesheet" />
}
<div id="search">
    <hgroup>
        <h1>Search Results</h1>
        <h2 class="lead"><strong class="text-danger">@Model.ResultsCount</strong> results were found for the search for "<strong class="text-danger">@Model.SearchedPattern</strong>"</h2>
    </hgroup>
    <ul class="search-list" id="all-results">
        @Html.Partial("_SearchResultsPartial", Model.FoundUsers)
    </ul>
    @if (Model.ResultsCount > 5)
    {
        using (Ajax.BeginForm("ShowMoreResults", "Search", new { pattern = Model.SearchedPattern, skip = 5, count = byte.MaxValue, userId = User.Identity.GetUserId() }, new AjaxOptions()
        {
            HttpMethod = "POST",
            InsertionMode = InsertionMode.InsertAfter,
            UpdateTargetId = "all-results",
            OnSuccess = "hideShowMoreLink"
        }, new { id = "showMoreResults" }))
        {
            @Html.AntiForgeryToken()
            <h4 class="text-center">
                <input type="submit" class="btn btn-block" value="Show more" />
            </h4>
        }
    }
</div>

@section scripts {
    @Scripts.Render("~/Scripts/search.js")
}