@using MeetMe.Web.Models.Messages
@model ConversationViewModel

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body" id="chat-content">
                    <ul class="chat" id="chat-list">
                        @foreach (var message in Model.Messages)
                        {
                            if (message.AuthorId != Model.FirstUserId)
                            {
                                <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="@message.AuthorImageUrl" alt="@message.Author" class="img-circle message-img" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <strong class="primary-font">@message.Author</strong> <small class="pull-right text-muted">
                                                <span class="glyphicon glyphicon-time"></span>@message.CreatedOn
                                            </small>
                                        </div>
                                        <p>
                                            @message.Content
                                        </p>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="@message.AuthorImageUrl" alt="@message.Author" class="img-circle message-img" />
                                    </span>
                                    <div class="chat-body clearfix">
                                        <div class="header">
                                            <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span>@message.CreatedOn</small>
                                            <strong class="pull-right primary-font">@message.Author</strong>
                                        </div>
                                        <p>
                                            @message.Content
                                        </p>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" data-id="@Model.Id" datafriend-id="@Model.FirstUserId" data-userid="@Model.SecondUserId" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                        <span class="input-group-btn">
                            <input class="btn btn-warning btn-sm" id="btn-chat" type="submit" value="Send" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#chat-content").scrollTop($("#chat-content").height() * 2);
</script>
