@using MeetMe.Web.Models.Profile
@model IEnumerable<ProfileFriendViewModel>

@section styles {
    @Styles.Render("~/Content/messages.css")
}

<div class="row" id="messages-panel">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Friends</span>
                <ul class="pull-right c-controls">
                    <li><a href="#" class="hide-search" data-command="toggle-search" data-toggle="tooltip" data-placement="top" title="Show search"><i class="fa fa-ellipsis-v"></i></a></li>
                </ul>
            </div>

            <div class="row" style="display: none;">
                <div class="col-xs-12">
                    <div class="input-group c-search">
                        <input type="text" class="form-control" id="contact-list-search">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search text-muted"></span></button>
                        </span>
                    </div>
                </div>
            </div>

            <ul class="list-group" id="contact-list">
                @foreach (var friend in Model)
                {
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-3">
                            <img src="@friend.ProfileImageUrl" alt="@friend.FullName" class="img-responsive img-circle" />
                        </div>
                        <div class="col-xs-12 col-sm-7">
                            <span>
                                @Ajax.ActionLink(friend.FullName, "Conversation", "Message", new { id = friend.AspIdentityUserId, friendId = User.Identity.GetUserId() }, new AjaxOptions()
                       {
                           HttpMethod = "GET",
                           InsertionMode = InsertionMode.Replace,
                           UpdateTargetId = "chat-container"
                       }, new { @class = "name" })
                            </span>
                            <span class="glyphicon glyphicon-map-marker text-muted c-info" data-toggle="tooltip" title="@friend.City"></span>
                            <span class="fa fa-comments text-muted c-info" data-toggle="tooltip" title="Show chat"></span>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div id="chat-container" class="col-md-7 col-md-offset-1">
        <h2 id="messages-empty" class="text-center text-primary">Your messages goes here</h2>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/messages.js")
    <script src="//rawgithub.com/stidges/jquery-searchable/master/dist/jquery.searchable-1.0.0.min.js"></script>
}