@using MeetMe.Web.Models.Publications
@model IList<CommentViewModel>

@for (int i = 0; i < Model.Count(); i++)
{
    if (i > 1)
    {
        <li class="hidden">
            <div class="comment-item">
                <img style="width:40px;height:40px;" src="@Model[i].AuthorImageUrl" />
                <span>@Model[i].Author</span>
                <span class="label label-primary">author</span>
                <pre class="comment-area">@Model[i].Content</pre>
            </div>
        </li>
    }
    else
    {
        <li>
            <div class="comment-item">
                <img style="width:40px;height:40px;" src="@Model[i].AuthorImageUrl" />
                <span>@Model[i].Author</span>
                <span class="label label-primary">author</span>
                <pre class="comment-area">@Model[i].Content</pre>
            </div>
        </li>
    }
}