@using Microsoft.AspNet.Identity
@using MeetMe.Web.Models.Publications
@model IEnumerable<PublicationViewModel>

@foreach (var publication in Model)
{
    <div class="dashboard">
        <div class="row">
            <div class="tab-content col-md-9">
                <div role="tabpanel" class="tab-pane profile-pane active" id="profile">
                    <div>
                        <div>
                            <div class="header">
                                <img class="col-sm-3" style="width:80px;height:40px;" src="@publication.AuthorImageUrl">
                                <h4>@publication.Author <small>@publication.CreatedOn</small></h4>
                            </div>
                            <div class="content">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <p>
                                            @if (publication.PublicationImageUrl.Length > 22)
                                            {
                                                <img class="publication-img" src="@publication.PublicationImageUrl" />
                                            }
                                            @publication.Content
                                        </p>
                                    </div>
                                    <hr />
                                    <div class="col-sm-2 col-sm-offset-1">
                                        @if (publication.Likes == 0)
                                        {
                                            <a data-id="@publication.Id" publication-author="@publication.AuthorId" data-userid="@User.Identity.GetUserId()" class="like-publication comment-icons glyphicon glyphicon-thumbs-up"><span id="publication-like-@publication.Id"></span></a>
                                        }
                                        else
                                        {
                                            <a data-id="@publication.Id" publication-author="@publication.AuthorId" data-userid="@User.Identity.GetUserId()" class="like-publication comment-icons glyphicon glyphicon-thumbs-up"><span id="publication-like-@publication.Id">@publication.Likes</span></a>
                                        }
                                    </div>
                                    <div class="col-sm-2">
                                        @if (publication.Dislikes == 0)
                                        {
                                            <a data-id="@publication.Id" class="dislike-publication comment-icons glyphicon glyphicon-thumbs-down"><span id="publication-dislike-@publication.Id"></span></a>
                                        }
                                        else
                                        {
                                            <a data-id="@publication.Id" class="dislike-publication comment-icons glyphicon glyphicon-thumbs-down"><span id="publication-dislike-@publication.Id">@publication.Dislikes</span></a>
                                        }
                                    </div>
                                    <div class="col-sm-2">
                                        <a class="comment-icons glyphicon glyphicon-share">
                                            <span> Share</span>
                                        </a>
                                    </div>
                                    <hr />
                                </div>
                            </div>
                            <div>
                                <div class="comments-container">
                                    <ul class="comment-container" id="comments-@publication.Id">
                                        @Html.Action("Comments", "Publication", new { id = publication.Id })
                                    </ul>
                                </div>
                                <div id="show-@publication.Id" class="text-center show-comments">
                                    <span data-info="@publication.Id">Show all comments</span>
                                </div>
                                <div id="hide-@publication.Id" class="text-center hidden hide-comments">
                                    <span data-info="@publication.Id">Hide comments</span>
                                </div>
                            </div>
                            <div class="widget-area no-padding blank">
                                <div class="status-upload">
                                    @using (Ajax.BeginForm("AddComment", "Publication", new { id = publication.Id },
                                        new AjaxOptions()
                                        {
                                            HttpMethod = "Post",
                                            InsertionMode = InsertionMode.Replace,
                                            UpdateTargetId = $"comments-{publication.Id}",
                                            OnSuccess = "ajaxCommentSuccess"
                                        }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <textarea class="fa-align-center area" name="comment" placeholder="What are you doing right now?"></textarea>
                                            <input type="hidden" name="userId" value="@User.Identity.GetUserId()" />
                                            <button type="submit" title="Add comment" data-userid="@User.Identity.GetUserId()" data-author="@publication.AuthorId" class="btn btn-success green btn-comment"><i class="fa fa-comment-o"></i> Comment</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}