@using Microsoft.AspNet.Identity
@using MeetMe.Web.Models.Navigation
@model StatisticViewModel

<ul class="nav navbar-nav pull-left">
    <li>
        <a href="@Url.Action("Index", "Home")">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </a>
    </li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Notifications <span class="fa fa-bell"></span><span id="notificationCount">
                @if (Model.NotificationsCount != 0)
                {
                    @Model.NotificationsCount
                }
            </span>

        </a>
        <ul class="dropdown-menu">
            <li>
                @Ajax.ActionLink("Mark visited", "MarkVisited", "Notification", new { id = User.Identity.GetUserId() }, new AjaxOptions
           {
               HttpMethod = "POST",
               OnSuccess = "removeNotificationCount"
           })
        </li>
        <li><a href="@Url.Action("Index", "Notification", new { id = User.Identity.GetUserId() })">Show notifications</a></li>
    </ul>
</li>
<li>
    <a href="@Url.Action("Message", "Home")">
        <span class="fa fa-envelope"></span>
        Messages <span id="messageCount">
            @if (Model.MessagesCount != 0)
            {
                @Model.MessagesCount
            }
        </span>
    </a>
</li>
</ul>