@using MeetMe.Web.ViewModels.Navigation
@model StatisticViewModel

<ul class="nav navbar-nav pull-left">
    <li>
        <a href="@Url.Action("Index", "Home")">
            <span class="glyphicon glyphicon-home"></span>
            Home
        </a>
    </li>
    <li>
        <a href="@Url.Action("Notification", "Home")">
            <span class="fa fa-bell"></span>
            Notifications <span id="notificationCount">
                @if (Model.NotificationsCount != 0)
                {
                    @Model.NotificationsCount
                }
            </span>
        </a>
    </li>
    <li>
        <a href="@Url.Action("Message", "Home")">
            <span class="fa fa-envelope"></span>
            Messages <span id="messageCount">
                @if (Model.MessagesCount != 0)
                {
                    @Model.MessagesCount
                }
            </span>
        </a>
    </li>
</ul>