@using MeetMe.Web.ViewModels.Home
@model AccountViewModel

@section styles {
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
}

@if (this.Request.IsAuthenticated)
{
    <h2>bachka</h2>
}
else
{
    <div class="container">
        <div id="tabs-home" class="row slider" style="background:url(../../Content/home.jpg) no-repeat center fixed;">
            <div class="col-sm-3">
            </div>
            <!-- tab content -->
            <div id="wea" class="col-sm-9">
                <div class="pull-right">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationMessageFor(m => m.Login.ShowServerError, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Login.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Login.Email, string.Empty, new { @class = "text-danger" });
                                @Html.PasswordFor(m => m.Login.Password, new { @class = "form-control", placeholder = "Password" })
                                <input type="submit" value="Sign in" class="btn btn-primary" />
                            }
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>New to MeetMe? Sign up</p>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationMessageFor(m => m.Register.ShowServerError, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Register.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Register.Email, string.Empty, new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.Register.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Register.Password, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Register.FirstName, new { @class = "form-control", placeholder = "First name" })
                                @Html.ValidationMessageFor(m => m.Register.FirstName, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Register.LastName, new { @class = "form-control", placeholder = "Last name" })
                                @Html.ValidationMessageFor(m => m.Register.LastName, string.Empty, new { @class = "text-danger" })
                                <input type="submit" value="Sign up" class="btn btn-success" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}