@using Microsoft.AspNet.Identity
@using MeetMe.Web.Models.Home
@model HomeViewModel

@section styles {
    <link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/publication.css" rel="stylesheet" />
}

@if (this.Request.IsAuthenticated)
{
    <div id="wrapper" class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="row profile">
                    <div class="profile-sidebar">
                        <div class="profile-userpic">
                            <img src=@Model.PersonalInfo.ProfileImageUrl class="img-responsive"
                                 alt="User profile image">
                        </div>
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                @Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName
                            </div>
                        </div>
                        <div class="profile-usermenu">
                            <ul class="nav">
                                @if (Model.PersonalInfo.Company != null)
                                {
                                    <li>
                                        <span>
                                            <i class="fa fa-briefcase"></i> Work for @Model.PersonalInfo.Company
                                        </span>
                                    </li>
                                }
                                @if (Model.PersonalInfo.School != null)
                                {
                                    <li>
                                        <span>
                                            <i class="fa fa-graduation-cap"></i> Study at @Model.PersonalInfo.School
                                        </span>
                                    </li>
                                }
                                @if (Model.PersonalInfo.City != null)
                                {
                                    <li>
                                        <span>
                                            <i class="fa fa-map-marker"></i> From @Model.PersonalInfo.City
                                        </span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default" id="publication-add">
                    <div class="panel-heading">
                        <h4>
                            <i id="image-add" title="Add publication image" class="fa fa-picture-o"></i>
                            <input id="publication-picture" title="Add publication image" type="file" name="file" />
                             New publication
                        </h4>
                    </div>
                    <div class="panel-body">
                        @using (Ajax.BeginForm("AddPublication", "Publication", new AjaxOptions()
                        {
                            UpdateTargetId = "publications",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST",
                            OnSuccess = "ajaxSuccess"
                        }))
                        {
                            @Html.AntiForgeryToken()
                            <div class="input-group text-center">
                                <input class="form-control input-lg" placeholder="What are you thinking?" type="text" id="publication-content" name="content">
                                <input type="hidden" name="userId" id="user-id" value="@User.Identity.GetUserId()" />
                                <input type="hidden" id="image-base" name="imageBase64" />
                                <input type="hidden" id="username-addpublication" value="@Model.PersonalInfo.FirstName @Model.PersonalInfo.LastName" />
                                <input type="hidden" name="skip" value="0" />
                                <input type="hidden" name="count" value="20" />
                                <div class="input-group-btn"><input class="btn btn-lg btn-primary" type="submit" id="btn-publication" value="Publish" /></div>
                            </div>
                            <div>
                                <div id="add-publication-content"></div>
                            </div>
                        }
                    </div>
                </div>
                <div id="publications">
                    @Html.Action("Publications", "Publication", new { id = User.Identity.GetUserId(), skip = 0, count = 20 })
                </div>
                <div id="show-publications-user" class="text-center show-publications">
                    @Ajax.ActionLink("Show all publications", "Publications", "Publication", new { id = User.Identity.GetUserId(), skip = 20, count = byte.MaxValue }, new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.InsertAfter,
                   UpdateTargetId = "publications",
                   OnSuccess = "showHidePublications"
               }, new { @class = "btn btn-info" })
                </div>
                <div id="hide-publications-user" class="text-center hidden hide-publications">
                    @Ajax.ActionLink("Hide publications", "Publications", "Publication", new { id = User.Identity.GetUserId(), skip = 0, count = 20 }, new AjaxOptions
               {
                   HttpMethod = "GET",
                   InsertionMode = InsertionMode.Replace,
                   UpdateTargetId = "publications",
                   OnSuccess = "showPublications"
               }, new { @class = "btn btn-info" })
                </div>
            </div>
            <div class="col-md-3">
                    <div class="card">
                        <div class="text-center">
                            <a href="#"><img src="~/Content/logo.png" class="img-circle" /></a>
                            <h3 class="text-center">MeetMe</h3>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="home">
                                <p>MeetMe gives you the chance to meet your friends and share what you think.</p>
                            </div>
                            <div class="tab-pane fade" id="about">
                                <p>MeetMe is a social network for meeting new people. MeetMe makes it easy to discover new people to chat with and share you new moments.</p>
                            </div>
                        </div>

                        <ul class="nav nav-tabs nav-tab nav-justified" id="myTab">
                            <li class="active"><a class="tab-btn" href="#home" data-toggle="tab">MeetMe</a></li>
                            <li><a class="tab-btn" href="#about" data-toggle="tab">About</a></li>
                        </ul>
                    </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="container">
        <div id="tabs-home" class="row slider" style="background:url(../../Content/home.jpg) no-repeat center fixed;">
            <div class="col-sm-3">
            </div>
            <div id="wea" class="col-sm-9">
                <div class="pull-right">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationMessageFor(m => m.Login.ShowServerError, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Login.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Login.Email, string.Empty, new { @class = "text-danger" });
                                @Html.PasswordFor(m => m.Login.Password, new { @class = "form-control", placeholder = "Password" })
                                <input type="submit" value="Sign in" class="btn btn-primary" />
                            }
                        </div>
                    </div>
                </div>

                <div class="pull-right">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>New to MeetMe? Sign up</p>
                        </div>
                        <div class="panel-body">
                            @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()
                                @Html.ValidationMessageFor(m => m.Register.ShowServerError, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Register.Email, new { @class = "form-control", placeholder = "Email" })
                                @Html.ValidationMessageFor(m => m.Register.Email, string.Empty, new { @class = "text-danger" })
                                @Html.PasswordFor(m => m.Register.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Register.Password, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Register.FirstName, new { @class = "form-control", placeholder = "First name" })
                                @Html.ValidationMessageFor(m => m.Register.FirstName, string.Empty, new { @class = "text-danger" })
                                @Html.TextBoxFor(m => m.Register.LastName, new { @class = "form-control", placeholder = "Last name" })
                                @Html.ValidationMessageFor(m => m.Register.LastName, string.Empty, new { @class = "text-danger" })
                                <input type="submit" value="Sign up" class="btn btn-success" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts {
    @Scripts.Render("~/Scripts/notification.js")
    @Scripts.Render("~/Scripts/publication.js")
}
