@using Microsoft.AspNet.Identity
@using MeetMe.Web.Models.Notifications
@model IEnumerable<NotificationUserViewModel>

@foreach (var notification in Model)
{
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-5">
            <div class="panel panel-default panel-google-plus">
                <div class="panel-heading">
                    @using (Ajax.BeginForm("RemoveNotification", "Notification", new { id = notification.Id, userId = User.Identity.GetUserId() }, new AjaxOptions()
                    {
                        HttpMethod = "POST",
                        InsertionMode = InsertionMode.Replace,
                        UpdateTargetId = "notifications-container"
                    }, new { @class = "format" }))
                    {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-link pull-right"><i class="glyphicon glyphicon-remove text-danger"></i></button>
                    }
                    <img class="img-circle pull-left notification-img" src="@notification.AuthorImageUrl" alt="Notification image" />
                    <h3>@notification.Author</h3>
                    <h5><span>Shared publicly</span> - <span>@notification.CreatedOn</span> </h5>
                </div>
                <div class="panel-body">
                    <p>@notification.Content</p>
                </div>
                @if (notification.IsFriendship)
                {
                    <div class="panel-footer">
                        @using (Ajax.BeginForm("AcceptFriendship", "Notification", new { id = User.Identity.GetUserId(), notificationId = notification.Id }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "notifications-container"
                        }, new { @class = "format" }))
                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="authorId" value="@notification.AuthorId" />
                            <button type="submit" data-id="@User.Identity.GetUserId()" data-receiverId="@notification.AuthorId" class="btn btn-success btn-accept">Accept</button>
                        }
                        @using (Ajax.BeginForm("RejectFriendship", "Notification", new { id = User.Identity.GetUserId(), authorId = notification.AuthorId, notificationId = notification.Id }, new AjaxOptions()
                        {
                            HttpMethod = "POST",
                            InsertionMode = InsertionMode.Replace,
                            UpdateTargetId = "notifications-container"
                        }, new { @class = "format" }))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-danger">Reject</button>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
}